<div id="setupModule" ng-controller="SetupController">
    <style type="text/css">
        .btn-wide {
            width: 100%;
        }
    </style>
    <div id="welcomeModal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" data-keyboard="false">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="img/logo.png" class="img-responsive center-block" alt="Pineapple Logo">
                    <span class="text-center">
                        <h1>Welcome</h1>
                    </span>
                </div>
                <div class="modal-footer">
                    <button ng-click="showVerificationModal()" type="button" data-dismiss="modal" class="btn btn-wide btn-default center-block">Get Started</button>
                </div>
            </div>
        </div>
    </div>
    <div id="verificationModal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" data-keyboard="false">
            <div class="modal-content">
                <div class="modal-body">
                    <span class="text-center" ng-show="booted">
                        <h1>Secure Setup</h1>
                        <p><small>Disabling WiFi is recommended for initial setup.</small></p>
                        <p><small>Quickly press the reset button (underside of the WiFi Pineapple) to continue with WiFi disabled.</small></p>
                        <p><small>Hold the reset button for two or more seconds to continue with WiFi enabled.</small></p>
                    </span>
                    <span class="text-center" ng-hide="booted">
                        <h1>The WiFi Pineapple is still booting</h1>
                        <p><small>Please wait until the WiFi Pineapple has fully booted. The setup will continue automatically.</small></p>
                    </span>
                </div>
                <div class="modal-footer">
                    <img class="center-block" src="img/throbber.gif">
                </div>
            </div>
        </div>
    </div>

    <div ng-show="complete">
        <h3 class="text-center">Setup Completed</h3>
        <img class="center-block" src="img/throbber.gif">
        <p class="text-center">
            You will be redirected momentarily.
        </p>
    </div>

    <div ng-show="verified">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Setup</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" ng-submit="doSetup()">
                    <h3>Set Root Password</h3>
                    <p>The root account is used for SSH and Web Interface access. Please set a strong password.</p>
                    <div class="form-group">
                        <label for="rootPassword" class="col-sm-2 control-label">Password:</label>
                        <div class="col-sm-2">
                            <input type="password" class="form-control" ng-model="rootPassword" id="rootPassword" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmRootPassword" class="col-sm-2 control-label">Confirm Password:</label>
                        <div class="col-sm-2">
                            <input type="password" class="form-control" ng-model="confirmRootPassword" id="confirmRootPassword" autocomplete="off">
                        </div>
                    </div>

                    <h3>Management AP Setup</h3>
                    <p>An access point secured by WPA2 may be used for WiFi Pineapple management. Please choose a unique SSID and strong passphrase.</p>
                    <div class="form-group">
                        <label for="ssid" class="col-sm-2 control-label">SSID:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" ng-model="ssid" id="ssid">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="wpaPassword" class="col-sm-2 control-label">WPA2 Passphrase:</label>
                        <div class="col-sm-2">
                            <input type="password" class="form-control" ng-model="wpaPassword" id="wpaPassword" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmWpaPassword" class="col-sm-2 control-label">Confirm Passphrase:</label>
                        <div class="col-sm-2">
                            <input type="password" class="form-control" ng-model="confirmWpaPassword" id="confirmWpaPassword" autocomplete="off">
                        </div>
                    </div>

                    <h3>Legal</h3>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="eula">I Accept the <a target="_blank" href="/modules/Setup/eula.txt" tabindex="-1">EULA</a>
                               </label>
                           </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="license">I Accept the <a target="_blank" href="/modules/Setup/license.txt" tabindex="-1">Software License</a>
                               </label>
                           </div>
                       </div>
                   </div>

                    <br><br>

                    <div ng-show="errorMessage" class="well well-sm alert-danger">
                        {{ errorMessage }}
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-default btn-wide">Complete Setup</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>